<ion-header>
  <ion-toolbar>
    <ion-title>vista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">

  <section class="foto-sec" [fullscreen]="true">
    <ion-card class="foto-card">
      <img class="foto" src="../../assets/cosa-buena.png" >
      <ion-button>UP</ion-button>
      <ion-button>DOWN</ion-button>
    </ion-card>
  </section>
  <section class="foto-sec" [fullscreen]="true">
    <ion-card class="foto-card">
      <img class="foto" src="../../assets/cosa-mala.png" >
      <ion-button>UP</ion-button>
      <ion-button>DOWN</ion-button>
    </ion-card>
  </section>
  <section class="foto-sec" [fullscreen]="true">
    <ion-card class="foto-card">
      <img class="foto" src="../../assets/cosa-buena.png" >
      <ion-button>UP</ion-button>
      <ion-button>DOWN</ion-button>
    </ion-card>
  </section>

  
</ion-content>
