.div-superpuesto{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 199;
    width: 100%;
    background-color: #eb445a;
    animation: fade-out 8s ease-out forwards;
}
.div-splash{
    --backgroud: none;
    background: url('../assets/relevamiento-splash-v2.png') no-repeat center / cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 200;
    animation: fade-in 8s ease-in-out forwards;
}
.contorno{
    position: absolute;
    width: 50%;
    height: auto;
    left: center;
    top: 20%;
    z-index: 201;
    animation: contorno-slide 6s ease-in-out;
}
.ventanas{
    position: absolute;
    width: 50%;
    height: auto;
    left: center;
    top: 20%;
    z-index: 202;
    animation: ventanas-slide 6s ease-in-out;
}
.puerta{
    position: absolute;
    width: 50%;
    height: auto;
    left: center;
    top: 20%;
    z-index: 203;
    animation: puerta-slide 6s ease-in-out;
}
.estrellas{
    position: absolute;
    width: 50%;
    height: auto;
    left: center;
    top: 20%;
    //opacity: 0;
    z-index: 204;
    animation: estrellas-slide 8s ease-in-out;
}
@keyframes contorno-slide{
    from{
        left: -50%;
    }30%{
        left: -50%;
    }70%{
        left: 25%;
    }to{
        left: 25%;
    }
}
@keyframes ventanas-slide{
    from{
        left: 150%;
    }30%{
        left: 150%;
    }70%{
        left: 25%;
    }to{
        left: 25%;
    }
}
@keyframes puerta-slide{
    from{
        top: -50%;
    }20%{
        top: -50%;
    }30%{
        top: center;
    }to{
        top: center;
    }
}
@keyframes estrellas-slide{
    from{
        top: -50%;
    }20%{
        
    }50%{
        top: -50%;
    }79%{
        top: 20%;
    }80%{
        
    }to{
        top: 20%
    }
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes fade-out{
    80%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
